.App-logo {
    height: 40vmin;
    pointer-events: none;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.rectangle {
    width: 100px;
    height: 200px;
    background-color: "red";
}

.App-header {
    width: 100%;
    background-color: #9dc9ae;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(42, 57, 0);
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
